body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-top: 10px;
    color: #333;
}
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="text"]{
    text-transform: capitalize;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
a {
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
}
b{
    color: #4CAF50;
}
a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
}


/* Dialog Box Styling */
#openDialog {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.dialog-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
@media (max-width: 600px) {
    .dialog-content {
        width: 90%;
        margin: 10% auto;
        max-width: none;
        padding: 10px;
    }
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
p{
    text-align: center;
    font-size: 12px;
}