<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ashim Nepal | Gym Exercise Recommendation Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='result-style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoNewNobg.png') }}">
</head>
<body>
<h1 class="mt-5">Exercises Recommendations</h1>
    <div class="card-container">
            {% for item in recommendations %}

                 <div class="card">
            <h2 class="card-title">{{ item['Title'] }}</h2>
            <p class="card-description">{{ item['Desc'] }}</p>
            <p class="card-type"><i class="fa-solid fa-table-list"></i> <strong>{{ item['Type'] }}</strong></p>
            <p class="card-level"><i class="fa-solid fa-turn-up"></i></i> <strong>{{ item['Level'] }}</strong></p>
            <p class="card-bodypart"><i class="fa-solid fa-child"></i> <strong>{{ item['BodyPart'] }}</strong></p>
            <p class="card-equipment"><i class="fa-solid fa-dumbbell"></i> <strong>{{ item['Equipment'] }}</strong></p><br>
            <a class="card-button" href="https://www.youtube.com/results?search_query= gym {{ item['Title'] }}" target="_blank"><i class="fa-brands fa-youtube"></i> Watch on YouTube</a>
        </div>
            {% endfor %}
    </div>
<a href="/">Recommend Another</a>
        <br><br>

Please Note that this is a simple primary Clustering based Recommendation model and <strong>might make some error in the results</strong> (might be drastically different from you inputs as well). Thank You!!
    <br>
    <br>
    <br>
    <hr>
    <p>Recommendation Model Application<br><br>KRB-03 by <b><a href="https://ashimnepal.com.np" target="_blank">Ashim Nepal</a></b>, 08-2024</p>
    <script src="https://kit.fontawesome.com/0f9c074925.js" crossorigin="anonymous"></script>
</body>
</html>